.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
}

.header-logo{
    color: #db8627;
    font-size: 48px;
    margin: 0 20px;
    margin-top: 18px;
}
.header-search{
    display: flex;
    flex: 1;
}

.header-searchinput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header-searchicon{
    padding: 5px;
    height: 22px !important;
    background-color: #db8627;
}
.header-link{
    text-decoration: none;
}
.header-option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header-optionLineOne{
    font-size: 10px;
    color: white;
}
.header-optionLineTwo{
    font-size: 10px;
    font-weight: 800;
}
.header-optionBasket{
display: flex;
align-items: center;
color: white;
}
.header-basketCount{
margin-left: 10px;
margin-right: 10px;
}